<%- include('partials/header'); -%>

<h1 id="homepage">Home.</h1>

<div>
  <p><%= homeContent %></p>
</div>

<% console.log(newPosts); %>

   <% newPosts.forEach(function(post) { %>
     <% console.log(post.title) %>
       <h1><%- post.title %></h1>
       <p><%- post.content %></p>

   <% }) %>
  

<%- include('partials/footer'); -%>
