<%- include('partials/header'); -%>

<h1 id="homepage">Home.</h1>

<div>
  <p><%= homeContent %></p>
</div>

<% console.log(newPosts); %>

   <% newPosts.forEach(function(post) { %>
     
    <% console.log(post.title) %>

       <h1><%= post.title %></h1>

       <p><%= post.content.substring(0, 100) + ". . ."%>
      <a href="/posts/<%= post.title %>">Read More!</a>
      </p>

       
   <% }) %>
  

<%- include('partials/footer'); -%>
